@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --green: #27ae60;
  --black: #192a56;
  --white: whitesmoke;
  --light-color: #666;
  --box-shadow: 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
}

/* general settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--black);
}
html::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: var(--green);
}
body {
  overflow-x: hidden;
  background-color: var(--white);
}
section {
  overflow-x: hidden;
  padding: 0rem 7% 2rem 7%;
}
section:nth-child(even) {
  background-color: #eee;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: var(--white);
  background-color: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn:hover {
  background-color: var(--green);
  letter-spacing: 0.2rem;
}
.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}
.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
/* general settings */

/* header section starts */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 7%;
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: 1000;
}
header .logo i {
  color: var(--green);
  font-weight: 800;
}
header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
  font-weight: 600;
}
header .navbar a.active,
header .navbar a:hover {
  color: var(--white);
  background-color: var(--green);
}
header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.8rem;
  padding: 1.5rem;
  font-weight: bolder;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background-color: #eee;
}
header .icons i:hover,
header .icons a:hover {
  color: var(--white);
  background-color: var(--green);
  transform: rotate(360deg);
}
header .icons #menu-btn {
  display: none;
}
#search-form {
  position: fixed;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform: bottom;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  transition: 0.2;
}
#search-form.showSearch {
  transform: scaleY(1);
}
#search-box {
  width: 50rem;
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  text-transform: none;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}
#search-box::placeholder {
  color: #eee;
}
#search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form label {
  color: var(--white);
  cursor: pointer;
  font-size: 2.5rem;
}
#search-form label:hover {
  color: var(--green);
}
#search-form #close-search {
  position: absolute;
  color: var(--white);
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}
/* header section ends */

/* home section starts */
.home .home-slider .slides {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 12.5rem;
}
.home .home-slider .slides .content {
  flex: 1 1 45rem;
}
.home .home-slider .slides .image {
  flex: 1 1 45rem;
}
.home .home-slider .slides .image img {
  margin-top: -3rem;
  width: 100%;
}
.home .home-slider .slides .content span {
  color: var(--green);
  font-size: 2.5rem;
}
.home .home-slider .slides .content h3 {
  color: var(--black);
  font-size: 7rem;
}
.home .home-slider .slides .content p {
  color: var(--light-color);
  font-size: 2.2rem;
  padding: 0.5rem 0;
  line-height: 1.7;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--green);
}
.swiper-pagination-bullet-active {
  background-color: var(--green);
}
/* home section ends */

/* dishes section starts */
.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.dishes .box-container .box {
  cursor: pointer;
  padding: 2.5rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow-x: hidden;
  text-align: center;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background-color: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}
.dishes .box-container .box .fa-heart {
  display: none;
  right: 1.5rem;
}
.dishes .box-container .box .fa-eye {
  display: none;
  left: 1.5rem;
}
.dishes .box-container .box:hover .fa-heart,
.dishes .box-container .box:hover .fa-eye {
  display: inline-block;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background-color: var(--green);
  color: var(--white);
}
.dishes .box-container .box img {
  height: 17rem;
  margin: 1rem 0;
}
.dishes .box-container .box:hover img {
  transform: scale(1.15);
}
.dishes .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}
.dishes .box-container .box .stars {
  padding: 1rem 0;
}
.dishes .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--green);
}
.dishes .box-container .box span {
  color: var(--green);
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: 1rem;
}
/* dishes section emds */

/* about sectiom starts */
.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}
.about .row .image {
  flex: 1 1 45rem;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
}
.about .row .content h3 {
  color: var(--black);
  font-weight: 500;
  font-size: 4rem;
  padding: 0.5rem 0;
}
.about .row .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}
.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
  margin-top: 0.5rem;
}
.about .row .content .icons-container .icons {
  background-color: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex: 1 1 17rem;
  padding: 1.5rem 1rem;
}
.about .row .content .icons-container .icons i {
  font-size: 2.5rem;
  color: var(--green);
}
.about .row .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--black);
}
/* about sectiom ends */

/* menu section starts */
.menu {
  margin-top: 12rem;
}
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.menu .box-container .box {
  background-color: var(--white);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.menu .box-container .box .image {
  position: relative;
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
}
.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
.menu .box-container .box .image .fa-heart {
  position: absolute;
  cursor: pointer;
  top: 2.5rem;
  right: 2.5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background-color: #eee;
  border-radius: 50%;
  color: var(--black);
}
.menu .box-container .box .image .fa-heart:hover {
  background-color: var(--green);
  color: var(--white);
}
.menu .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}
.menu .box-container .box .content .stars {
  padding-bottom: 1rem;
}
.menu .box-container .box .content .stars i {
  font-size: 1.5rem;
  color: var(--green);
}
.menu .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}
.menu .box-container .box .content p {
  font-size: 1.6rem;
  color: var(--light-color);
  padding: 0.5rem 0;
  line-height: 1.5;
}
.menu .box-container .box .content .price {
  color: var(--green);
  margin-left: 1rem;
  font-size: 2.5rem;
}
/* menu section ends */

/* review section starts */
.review {
  overflow-x: hidden;
}
.review .slides {
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
}
.review .slides .fa-quote-right {
  position: absolute;
  top: 2rem;
  color: #ccc;
  right: 2rem;
  font-weight: bolder;
  font-size: 6rem;
}
.review .slides .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 1.5rem;
}
.review .slides .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.review .slides .user h3 {
  color: var(--black);
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.review .slides .user i {
  font-size: 1.3rem;
  color: var(--green);
}
.review .slides p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
}
/* review section ends */

/* order section starts */
.order form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  padding: 1.5rem;
  margin: 0 auto;
}
.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order form .inputBox .input {
  width: 49%;
}
.order form .inputBox .input span {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}
.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
  border: 0.1rem solid var(--green);
}
.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}
.order form .btn {
  margin-top: 0;
  border: none;
}
/* order section ends */

/* footer section starts */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}
.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}
.footer .box-container .box a:hover {
  color: var(--green);
  text-decoration: underline;
}
.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.footer .credit span {
  color: var(--green);
}
/* footer section ends */

/* loader section */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loader-container i {
  font-size: 5rem;
  color: var(--green);
}

.loader-container.fade-out {
  top: 110%;
  opacity: 0;
}
